img{
  width: 33%;
}

h1{
  font-family: 'Corben', Georgia, Times, serif;
  text-shadow: 1px 1px 1px #ccc;
}

p{
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

#a{
    background: url("Think.gif");
}

#b{
    background: url("Lion.gif");
}

#c{
    background: url("Patrick.gif");
}
